org: flanche
service: chinawok-api


provider:
  name: aws
  runtime: python3.13
  stage: dev
  timeout: 20
  memorySize: 256
  iam:
    role: arn:aws:iam::645888963933:role/LabRole   # usas tu rol existente
  environment:
    TABLE_LOCALES: ChinaWok-Locales

functions:
  # -------- LOCAL --------
  localListar:
    handler: lambdas/getLocales.lambda_handler
    events:
      - http:
          path: /local/listar
          method: get
          cors: true
  localCrear:
    handler: lambdas/crearLocal.lambda_handler
    events:
      - http:
          path: /local/crear
          method: post
          cors: true
  localObtener:
    handler: lambdas/getLocalById.lambda_handler
    events:
      - http:
          path: /local/obtener/{id}
          method: get
          cors: true
  localActualizar:
    handler: lambdas/editarLocal.lambda_handler
    events:
      - http:
          path: /local/actualizar/{id}
          method: put
          cors: true
  localEliminar:
    handler: lambdas/eliminarLocal.lambda_handler
    events:
      - http:
          path: /local/eliminar/{id}
          method: delete
          cors: true

resources:
  Resources:
    LocalTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ChinaWok-Locales
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH

